#{extends 'main.html' /}
#{set title: service.title /}

<div id="serviceDetail">
    <div class="info">
        <span class="item">
            Task: <span class="value">${service.task}</span>
        </span>
        <span class="item">
            Type: <span class="value">${service.type}</span>
        </span>
        <span class="item">
            Owner: <span class="value">${service.boss}</span>
        </span>
        <span class="item">
            Location: <span class="value">${service.location}</span>
        </span>
        #{if service?.startDate}
            <span class="item date">
                Date Interval:
                <span class="value">
                    ${service.getFormattedStartDate()}
                    #{if service?.endDate}
                    - ${service.getFormattedEndDate()}
                    #{/if}
                </span>
            </span>
        #{/if}
         #{if service.stags!=null}
	            <span class="item">
	                Tags: <span class="value">
	                 #{list service.stags, as:'tag'}
	               		${tag.text}${tag_isLast ? '' : ','}
                	#{/list}
                	</span>
	            </span>
            #{/if}
        <div class="clearfix"></div>
    </div>
    #{if isBossUser}
    	<input type="button" value="I made a mistake!" class="edit-btn" />
    #{/if}
    #{if !isBossUser && !isAppliedBefore}
    	#{form @apply(),}
        		<input type="hidden" name="serviceId" value="${service.id}"/>
        		<input type="hidden" name="email" value="${userEmail}"/>
    			<input type="submit" value="Apply Now!" class="apply-btn right" />
    	#{/form}
    #{/if}
    #{if !isBossUser}
    	<input type="button" value="Send Message!" class="pm-btn right" />
    #{/if}	
    <div class="clearfix"></div>
    <div class="desc">
        ${service.description}
    </div>
    <div class="bot">
        #{if !isBossUser && !isAppliedBefore}
        	#{form @apply(),}
        		<input type="hidden" name="serviceId" value="${service.id}"/>
        		<input type="hidden" name="email" value="${userEmail}"/>
    			<input type="submit" value="Apply Now!" class="apply-btn right" />
    		#{/form}
   		#{/if}
    	#{if !isBossUser}
    		<input type="button" value="Send Message!" class="pm-btn right" />
   		#{/if}	
    </div>
    <div class="info">
    	<span class="item">
            Applicants:<br/>
             #{list service.applicants, as:'applicant'}
	               <span class="value">${applicant.name}</span>
	               #{if applicant.email.equals(userEmail)}
	               	(You)
	               #{/if}
	               <br/>
             #{/list}
        </span>
        <span >
	    	#{if isAppliedBefore}
	        	#{form @cancelApply(),, id:'cancel-application'}
	        		<input type="hidden" name="serviceId" value="${service.id}"/>
	        		<input type="hidden" name="email" value="${userEmail}"/>
	    			<input type="submit" value="Cancel Application" class="cancel-apply-btn right" />
	    		#{/form}
	        #{/if}
       </span>
    </div>
    
</div>
<script>
    $("input[type=button].pm-btn").bind("click", function() {
        document.location = '@{UserMessages.compose}?serviceId=${service.id}';
    });
    $("input[type=button].apply-btn").bind("click", function() {
        alert("You have applied for it...");
    });
    $("input[type=button].edit-btn").bind("click", function() {
        document.location = '@{Services.edit}/${service.id}';
    })
     $("form#cancel-application").bind("submit", function() {
    	 var agree=confirm("Are you sure you wish to cancel your application?");
		if (agree)
			return true ;
		else
			return false ;
	});
</script>