#{extends 'main.html' /}
#{set title: service.title /}
#{set submenuView: 'services' /}

<div id="serviceDetail">
	 <div id="map_canvas" style="width: 500px; height: 300px"></div>
    <div class="info">
        <span class="item">
            Task: <span class="value">${service.task}</span>
        </span>
        <span class="item">
            Type: <span class="value #{if service.type == service.type.PROVIDES} service-provide #{/if}#{else}service-request#{/else}">${service.type}</span>
        </span>
        <span class="item">
            Owner: <span class="value">${service.boss}</span>
        </span>
        <span class="item">
            Location: <span class="value">${service.location}</span>
        </span>
          <span class="item">
            Status:
            <span class="value status">
        	#{if service.status==models.ServiceStatus.PUBLISHED}
        		PUBLISHED
       		#{/if}
	 		#{elseif service.status==models.ServiceStatus.WAITING_EMPLOYEE_APPROVAL}
	 			WAITING EMPLOYEE APPROVAL
	 		#{/elseif}
	 		#{elseif service.status==models.ServiceStatus.IN_PROGRESS}
                IN PROGRESS
	 		#{/elseif}
	 		#{elseif service.status==models.ServiceStatus.WAITING_EMPLOYEE_FINISH}
                WAITING EMPLOYEE FINISH
	 		#{/elseif}
	 		#{elseif service.status==models.ServiceStatus.FINISHED}
                FINISHED
	 		#{/elseif}
	 		</span>
	 	</span>
	 	#{if service.status==models.ServiceStatus.PUBLISHED}
	        #{if service?.startDate}
	            <span class="item date">
	                Date Interval:
	                <span class="value">
	                    ${service.getFormattedStartDate()}
	                    #{if service?.endDate}
	                    - ${service.getFormattedEndDate()}
	                    #{/if}
	                </span>
	            </span>
	        #{/if}
	     #{/if}
	     #{else}
	     	 <span class="item date">
	                Actual Date:
	                <span class="value">
	                    ${service.getFormattedActualDate()}
	                </span>
	            </span>
	     #{/else}
         #{if service.stags!=null}
	            <span class="item">
	                Tags: <span class="value">
	                 #{list service.stags, as:'tag'}
	               		${tag.text}${tag_isLast ? '' : ','}
                	#{/list}
                	</span>
	            </span>
            #{/if}
            
              #{if service.slots!=null && service.slots.size()>0}
	            <span class="item">
	                Available Slots: <span class="value">
	                <ul>
	                 #{list service.slots, as:'slot'}
	               		<li>
	               		Every ${slot.dayOfWeek} from   ${slot.startTimeHour}:${slot.startTimeMinute} to ${slot.endTimeHour}:${slot.endTimeMinute} 
                	    </li>
                	#{/list}
                	
                	</ul>
                	</span>
	            </span>
            #{/if}
        <div class="clearfix"></div>
    </div>
    #{if isBossUser && service.status==models.ServiceStatus.PUBLISHED}
    	<input type="button" value="Change details" class="edit-btn" />
    #{/if}
    #{if service.status==models.ServiceStatus.PUBLISHED && !isBossUser && !isAppliedBefore}
    	#{form @apply(),}
        		<input type="hidden" name="serviceId" value="${service.id}"/>
        		<input type="hidden" name="email" value="${userEmail}"/>
    			<input type="submit" value="Apply Now!" class="apply-btn right" />
    	#{/form}
    #{/if}
    #{if !isBossUser}
    	<input type="button" value="Send Message!" class="pm-btn right" />
    #{/if}	
    <div class="clearfix"></div>
    <div class="desc">
        ${service.description.nl2br()}
    </div>
    <div class="applicant-details bot">
    #{if service.status!=models.ServiceStatus.PUBLISHED && service.employee!=null}
	    <div class="info">
    	    <span class="item">
    	        Employee:
    	        <ul>
    	       		<li>
		    	        <span class="value">
		    	            <a href="/profile/${service.employee.id}">${service.employee.name}</a>
		    	            #{if service.employee.email.equals(userEmail)}
		                       	(You) 
		                    #{/if}
		    	        </span>
		    	        <br/>
			        	<span class="value">Provider Point: ${service.employee.providerPoint}</span>
			       		<br/>
			        	<span class="value">Requester Point: ${service.employee.requesterPoint}</span>
			        	<br/>
			        	<br/>
			        </li>	
	        	</ul>
    	    </span>
	     </div>
	     <div class="clearfix"></div>
    #{/if}
    #{if service.status==models.ServiceStatus.PUBLISHED && service.applicants!=null && service.applicants.size()>0}
	    <div class="info">
	    	<p class="error hidden" id="startApprovalError">
       			Check applicant before start approval.
       		</p>
	    	<div class="info">
	            <span class="item">Applicants: </span>
	            <br/>
	            #{if isBossUser && service.applicants!=null && service.applicants.size()>0}
	            	<ul>
	        		#{form @startApproval(),id:'start-Approval'}
			             #{list service.applicants, as:'applicant'}
                            <li>
				             <input type="radio" id="startApprovalEmail" name="email" value="${applicant.email}"/>
				             <span class="value"><a href="/profile/${applicant.id}">${applicant.name}</a></span>
				             #{if applicant.email.equals(userEmail)}
				                (You)
				             #{/if}
				             	<br/>
					        	<span class="value">Provider Point:${applicant.providerPoint}</span>
					       		<br/>
					        	<span class="value">Requester Point:${applicant.requesterPoint}</span>
					        
					        	<br/>
					        	<br/>
				            </li>
			             #{/list}
			             <input type="hidden" name="serviceId" value="${service.id}" />
		             #{/form}
		             </ul>
		        #{/if}
		        #{else}
		            <ul>
		        	#{list service.applicants, as:'applicant'}
		        	    <li>
	                        <span class="value"><a href="/profile/${applicant.id}">${applicant.name}</a></span>
					         #{if applicant.email.equals(userEmail)}
					            <a class="cancelBtn cancel-link" href="@{Services.cancelApply}?serviceId=${service.id}&email=${userEmail}">Cancel My Application</a>
					        #{/if}
					        <br/>
					        <span class="value">Provider Point: ${applicant.providerPoint}</span>
					        <br/>
					        <span class="value">Requester Point: ${applicant.requesterPoint}</span>
					        
					        <br/>
					        <br/>
				        </li>
			        #{/list}
		            </ul>
		        #{/else}
	        </div>
	    </div>
    #{/if}
    #{if service.status==models.ServiceStatus.PUBLISHED && isBossUser && service.applicants!=null && service.applicants.size()>0}
	    <div class="bot">
	    	<input type="button" value="Start Approval &rarr;" class="start-approval-btn left" />
	    </div>
    #{/if}
    #{if service.status==models.ServiceStatus.WAITING_EMPLOYEE_APPROVAL && service.employee!=null && service.employee.id==currentUser.id}
	    <div class="bot buttons">
	    	#{form @employeeApproval(),}
	    		<input type="hidden" value="${service.id}" name="serviceId" id="serviceId" />
       			<input type="hidden" value="${currentUser.id}" name="applicantId" id="applicantId" />
	    		<input type="submit" value="Process Approval &rarr;" class="employee-approval-btn left" />
	    	#{/form}
	    </div>
    #{/if}
    <div class="bot buttons">
        #{if service.status==models.ServiceStatus.PUBLISHED && !isBossUser && !isAppliedBefore}
        	#{form @apply(),}
        		<input type="hidden" name="serviceId" value="${service.id}"/>
        		<input type="hidden" name="email" value="${userEmail}"/>
    			<input type="submit" value="Apply Now!" class="apply-btn right" />
    		#{/form}
   		#{/if}
    </div>
    <div class="clearfix"></div>
    #{if service.status==models.ServiceStatus.IN_PROGRESS && isBossUser}
    	#{form @bossClose(),} 
    			<br>
        		<input type="hidden" name="serviceId" value="${service.id}"/>
        		<input type="hidden" name="email" value="${userEmail}"/>
        		<input type="hidden" name="employeeEmail" value="${service.employee.email}"/>
        		<label>Comment:</label><br> 
        		<textarea rows="5" cols="5" name = "bossComment"></textarea>
    			<input type="submit" value="Close &rarr;" class="close-btn right" />
    	#{/form} 
    #{/if}
    #{if service.status==models.ServiceStatus.WAITING_EMPLOYEE_FINISH && service.employee.id==currentUser.id}
    	#{form @employeeClose(),}
        		<input type="hidden" name="serviceId" value="${service.id}"/>
        		<input type="hidden" name="email" value="${userEmail}"/>
        		<input type="hidden" name="bossEmail" value="${service.boss.email}"/>
        		<label>Comment:</label><br> 
        		<textarea rows="5" cols="5" name = "employeeComment"></textarea>
    			<input type="submit" value="Close &rarr;" class="close-btn right" />
    	#{/form}
    #{/if}
    </div>
     #{if serviceMatches!=null && serviceMatches.size()>0}
	    <div class="clearfix"></div>
	    	 <h3>Match Services</h3>
	     	 #{list serviceMatches, as:'sm'}
	     	     <div class="list-item">
	     	         <div class="info">
		             <span class="item">
	            		Service title: <span class="value"><a href="/services/detail/${sm.matchService.id}">${sm.matchService.title}</a></span>
	        		 </span>
	        		 <span class="item">
	            		Match Point: <span class="value">${sm.matchPoint}</span>
	        		 </span>
	        		 <span class="item">
	            		Distance : <span class="value">${sm.distance} km</span>
	        		 </span>
	        		 <!--  <span class="item">
	            		Service boss: <span class="value"><a href="/profile/${sm.matchService.boss.id}">${sm.matchService.boss.name}</a></span>
	        		 </span>
	        		 <span class="item">
	        		 <span class="value"></span>
	        		 </span>
	        		 -->  
	        		 </div>
	        		<div class="clearfix"></div>
	        	   </div>
             #{/list}
    #{/if}
    <div class="info">
   <h2>Comments</h2>
	#{list serviceComments, as:'c'}
		<div class="list-item">
		<a href="@{Profile.profile}/${c.commenter.id}">${c.commenter.name}</a><em>  wrote on ${c.commentDateWithTime}</em>
			<div class="info">
				${c.comment}
			</div>
		</div>
	#{/list}
	</div>
</div>
<script type="text/javascript">
    $("input[type=button].pm-btn").bind("click", function() {
        document.location = '@{UserMessages.compose}?serviceId=${service.id}';
    });
    $("input[type=button].apply-btn").bind("click", function() {
        alert("You have applied for it...");
    });
    $("input[type=button].edit-btn").bind("click", function() {
        document.location = '@{Services.edit}/${service.id}';
    })
     $("a.cancel-link").bind("click", function() {
    	 var agree = confirm("Are you sure you wish to cancel your application?");
		if (agree) {
			return true;
		} else {
			return false;
		}
	});
    $("input[type=button].start-approval-btn").bind("click", function() {
    	var email=$("input[type=radio]#startApprovalEmail:checked").val();
    	if(email){
    		$("form#start-Approval").submit();
    	}
    	else{
    		$("p#startApprovalError").removeClass("error hidden").addClass("error");
    	}
    });
</script>