#{extends 'main.html' /}
#{set submenuView: 'services' /}
#{set tagString:'' /}

#{if serviceId}
    <input type="button" class="back-btn" value="&larr; Discard Changes" />
    #{set title:'Edit Your Service: ' + service.title /}
#{/if}
#{else}
    #{set title:'Add Your Service' /}
#{/else}

<div id="newService">
    #{form @save(), id:'add-service'}
    	<input type="hidden" id="locationLat" name="locationLat" value="${service.locationLat}"/>
    	<input type="hidden" id="locationLng" name="locationLng" value="${service.locationLng}"/>
        <p class="error hidden">
        </p>
        <div class="form-separator">Required Fields</div>
        <p>
        	<label class="required">Type:</label>
        	#{if service.type==models.ServiceType.REQUESTS}
    			<input type="hidden" name="type" id="type" value="${service.type.REQUESTS}"/>
       			<span class="service-type service-request">Requests</span>
       		#{/if}
	 		#{else}
	 			<input type="hidden" name="type" id="type" value="${service.type.PROVIDES}"/>
	 			<span class=" service-type service-provide">Provides</span>
	 		#{/else}
	 		<input type="button" class="change-type-btn right" value="Change Type!" />
        </p>
        <p>
            #{field 'taskId'}
            <label class="required">Service Type:</label>
            <select id="${field.name}" name="${field.name}" class="${field.errorClass}">
                <option value="" />-
                #{list tasks, as:'t'}
	               	<option value="${t.id}" data-point="${t.point}" #{if t.equals(service.task)}} selected #{/if}>${t.name} (${t.point})</option>
                #{/list}
                <option value="-1">Propose A New Task!</option>
            </select>
            <span class="tip point-tip"></span>
            <span class="tip proposal">Not Found What You're looking for? Check the <a href="@{Tasks.proposals}">proposals!</a></span>
            <span class="tip">This service is related with what? You shall gain points based on this option.</span>
            #{/field}
        </p>
        <p>
            #{field 'title'}
            <label class="required">Title:</label>
            <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="${service.title}" />
            <span class="tip">What do you call for this service? Something that will define your service uniquely. People should remember it too!</span>
            #{/field}
        </p>
         <p>
            #{field 'locationType'}
            <label class="required">Location Type:</label>
            
            #{if service.locationType==models.LocationType.NORMAL}
            	<input type="radio" id="${field.name}" name="${field.name}" value="${models.LocationType.NORMAL}" checked/>Location Based
            #{/if}
            #{else}
            	<input type="radio" id="${field.name}" name="${field.name}" value="${models.LocationType.NORMAL}"/>Location Based
            #{/else}
            
            #{if service.locationType==models.LocationType.VIRTUAL}
            	<input type="radio" id="${field.name}" name="${field.name}" value="${models.LocationType.VIRTUAL}" checked/>Virtual Location
            #{/if}
            #{else}
           		<input type="radio" id="${field.name}" name="${field.name}" value="${models.LocationType.VIRTUAL}"/>Virtual Location
            #{/else}
            
            #{if service.locationType==models.LocationType.ANYLOCATION}
            	<input type="radio" id="${field.name}" name="${field.name}" value="${models.LocationType.ANYLOCATION}" checked/>Any Location
            #{/if}
            #{else}
            	<input type="radio" id="${field.name}" name="${field.name}" value="${models.LocationType.ANYLOCATION}"/>Any Location
            #{/else}
            
            <span class="tip">Choose a location type for your service.</span>
            #{/field}
        </p>
        <p class="location">
            #{field 'location'}
            <label class="required">Location:</label>
            #{if service.locationType==models.LocationType.NORMAL}
           		<input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="${service.location}" />
            #{/if}
            #{else}
            	<input type="text" disabled id="${field.name}" name="${field.name}" class="${field.errorClass}" value="${service.location}" />
            #{/else}
            <span class="tip">Well, if you are in Istanbul, someone in New York may not help you! Best tell it!</span>

            #{/field}
            #{if service.locationType==models.LocationType.NORMAL}
            	<div id="map_canvas" style="width: 500px; height: 300px"></div>
            #{/if}
        </p>
        <p>
            #{field 'description'}
            <label class="required">Description:</label><br />
            <span class="tip">Give a little bit more detail about your need or service. Something that will define the boundaries of it etc.</span>
            <textarea id="${field.name}" name="${field.name}" class="${field.errorClass}">${service.description}</textarea>
            #{/field}
        </p>
        <div class="form-separator">Optional Fields</div>
        <p>
            #{field 'tags'}
            <label>Tags:</label>
            #{if service.stags!=null}
                #{list service.stags, as:'tag'}
                    #{set tagString: tagString + tag.text + (tag_isLast ? '' : ', ') /}
            	#{/list}
            	<input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="${tagString}" />
           	#{/if}
           	#{else}
                <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="" />
           	#{/else}
           	#{/field}
           	<span class="tip">Add tags seperated by a comma to allow people to search your services easily</span>
        </p>
        <p>
            #{field 'startDate'}
            <label>Start Date:</label>
            <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass} datepicker" value="${service.getFormattedStartDate()}" />
            <span class="tip">Do you have an availability date for this service?</span>
            #{/field}
        </p>
        <p>
            #{field 'endDate'}
            <label>End Date:</label>
            <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass} datepicker" value="${service.getFormattedEndDate()}" />
            <span class="tip">Perhaps this service has a deadline?</span>
            #{/field}
        </p>
        <p>
            <label>Available Slots:</label>
            <select id="day">
                <option value="0" >Monday</option>
                <option value="1" >Tuesday</option>
                <option value="2" >Wednesday</option>
                <option value="3" >Thursday</option>
                <option value="4" >Friday</option>
                <option value="5" >Saturday</option>
                <option value="6" >Sunday</option>
             </select> 
	     <select id="hourStart">
	       <option value="0" selected>00</option>
	       <option value="1">01</option>
	       <option value="2">02</option>
	       <option value="3">03</option>
	       <option value="4">04</option>
	       <option value="5">05</option>
	       <option value="6">06</option>
	       <option value="7">07</option>
	       <option value="8">08</option>
	       <option value="9">09</option>
	       <option value="10">10</option>
	       <option value="11">11</option>
	       <option value="12">12</option>
	       <option value="13">13</option>
	       <option value="14">14</option>
	       <option value="15">15</option>
	       <option value="16">16</option>
	       <option value="17">17</option>
	       <option value="18">18</option>
	       <option value="19">19</option>
	       <option value="20">20</option>
	       <option value="21">21</option>
	       <option value="22">22</option>
	       <option value="23">23</option>
	     </select>
	     :
	     <select id="minStart">
	       <option value="0" selected>00</option>
	       <option value="1">01</option>
	       <option value="2">02</option>
	       <option value="3">03</option>
	       <option value="4">04</option>
	       <option value="5">05</option>
	       <option value="6">06</option>
	       <option value="7">07</option>
	       <option value="8">08</option>
	       <option value="9">09</option>
	       <option value="10">10</option>
	       <option value="11">11</option>
	       <option value="12">12</option>
	       <option value="13">13</option>
	       <option value="14">14</option>
	       <option value="15">15</option>
	       <option value="16">16</option>
	       <option value="17">17</option>
	       <option value="18">18</option>
	       <option value="19">19</option>
	       <option value="20">20</option>
	       <option value="21">21</option>
	       <option value="22">22</option>
	       <option value="23">23</option>
	       <option value="24">24</option>
	       <option value="25">25</option>
	       <option value="26">26</option>
	       <option value="27">27</option>
	       <option value="28">28</option>
	       <option value="29">29</option>
	       <option value="30">30</option>
	       <option value="31">31</option>
	       <option value="32">32</option>
	       <option value="33">33</option>
	       <option value="34">34</option>
	       <option value="35">35</option>
	       <option value="36">36</option>
	       <option value="37">37</option>
	       <option value="38">38</option>
	       <option value="39">39</option>
	       <option value="40">40</option>
	       <option value="41">41</option>
	       <option value="42">42</option>
	       <option value="43">43</option>
	       <option value="44">44</option>
	       <option value="45">45</option>
	       <option value="46">46</option>
	       <option value="47">47</option>
	       <option value="48">48</option>
	       <option value="49">49</option>
	       <option value="50">50</option>
	       <option value="51">51</option>
	       <option value="52">52</option>
	       <option value="53">53</option>
	       <option value="54">54</option>
	       <option value="55">55</option>
	       <option value="56">56</option>
	       <option value="57">57</option>
	       <option value="58">58</option>
	       <option value="59">59</option>
	     </select>
	     -
	     <select id="hourEnd">
	       <option value="0">00</option>
	       <option value="1">01</option>
	       <option value="2">02</option>
	       <option value="3">03</option>
	       <option value="4">04</option>
	       <option value="5">05</option>
	       <option value="6">06</option>
	       <option value="7">07</option>
	       <option value="8">08</option>
	       <option value="9">09</option>
	       <option value="10">10</option>
	       <option value="11">11</option>
	       <option value="12">12</option>
	       <option value="13">13</option>
	       <option value="14">14</option>
	       <option value="15">15</option>
	       <option value="16">16</option>
	       <option value="17">17</option>
	       <option value="18">18</option>
	       <option value="19">19</option>
	       <option value="20">20</option>
	       <option value="21">21</option>
	       <option value="22">22</option>
	       <option value="23" selected>23</option>
	     </select>
	     :
	     <select id="minEnd">
	       <option value="0">00</option>
	       <option value="1">01</option>
	       <option value="2">02</option>
	       <option value="3">03</option>
	       <option value="4">04</option>
	       <option value="5">05</option>
	       <option value="6">06</option>
	       <option value="7">07</option>
	       <option value="8">08</option>
	       <option value="9">09</option>
	       <option value="10">10</option>
	       <option value="11">11</option>
	       <option value="12">12</option>
	       <option value="13">13</option>
	       <option value="14">14</option>
	       <option value="15">15</option>
	       <option value="16">16</option>
	       <option value="17">17</option>
	       <option value="18">18</option>
	       <option value="19">19</option>
	       <option value="20">20</option>
	       <option value="21">21</option>
	       <option value="22">22</option>
	       <option value="23">23</option>
	       <option value="24">24</option>
	       <option value="25">25</option>
	       <option value="26">26</option>
	       <option value="27">27</option>
	       <option value="28">28</option>
	       <option value="29">29</option>
	       <option value="30">30</option>
	       <option value="31">31</option>
	       <option value="32">32</option>
	       <option value="33">33</option>
	       <option value="34">34</option>
	       <option value="35">35</option>
	       <option value="36">36</option>
	       <option value="37">37</option>
	       <option value="38">38</option>
	       <option value="39">39</option>
	       <option value="40">40</option>
	       <option value="41">41</option>
	       <option value="42">42</option>
	       <option value="43">43</option>
	       <option value="44">44</option>
	       <option value="45">45</option>
	       <option value="46">46</option>
	       <option value="47">47</option>
	       <option value="48">48</option>
	       <option value="49">49</option>
	       <option value="50">50</option>
	       <option value="51">51</option>
	       <option value="52">52</option>
	       <option value="53">53</option>
	       <option value="54">54</option>
	       <option value="55">55</option>
	       <option value="56">56</option>
	       <option value="57">57</option>
	       <option value="58">58</option>
	       <option value="59" selected>59</option>
	     </select>
             <input type="button" id="addTimeSlot" value="Add" /> 
        </p>
        <p>
            <div id="divTimeSlot">
                <ul>
                    #{list service.slots, as:'slot'}
                        <li>
                            ${slot}
                            <input type="button" value="Remove" class="removeTimeSlot" />
                            <input type="hidden" name="slots" value="${slot.dayOfWeek.ordinal()},${slot.startTimeHour},${slot.startTimeMinute},${slot.endTimeHour},${slot.endTimeMinute}" />
                        </li>
                    #{/list}
                </ul>
            </div>
        </p>	
        <p>
            <input type="button" value="Continue &rarr;" id="submit-btn">
        </p>
        #{if serviceId}
            <input type="hidden" value="${serviceId}" name="serviceId" id="serviceId" />
        #{/if}
    #{/form}
</div>
<script type="text/javascript" charset="utf-8">

	var locationType="${service.locationType}";

    $(document).ready(function() {
        $("select#taskId").bind("change", function() {
            if ($(this).val() != "") {
                
                if ($(this).val() == -1) {
                    if (confirm("Do you want to be redirected to task suggestion page?")) {
                        document.location = "@{Tasks.suggest}";
                        return;
                    } else {
                        $(this).val("");
                        return;
                    }
                }
                
                var point = $(this[this.selectedIndex]).data("point");
                $("span.point-tip").html("You will gain <a href='javascript:return false;'>" + point + "</a> points if you finish this task");
                $(".proposal").hide();
            } else {
                $("span.point-tip").html("");
                $(".proposal").show();
            }
        });
        $("select#taskId").change();
        
        $(".change-type-btn").bind("click", function() {
            var type = $("#type").val();
            if (type == '${service.type.PROVIDES}') {
                $("span.service-type")
                    .removeClass("service-provide")
                    .addClass("service-request")
                    .html("REQUESTS");
                $("#type").val("${service.type.REQUESTS}");
            } else {
                $("span.service-type")
                    .removeClass("service-request")
                    .addClass("service-provide")
                    .html("PROVIDES");
                $("#type").val("${service.type.PROVIDES}");
            }
        });
        
        var removeTimeSlotFn = function() {
            $(this).parent().remove(); 
        };
        $("input.removeTimeSlot").bind("click", removeTimeSlotFn);
        
    	//// add time slot
    	$('input#addTimeSlot').click(function(){
    		var day=$('select#day option:selected').val();
    		var dayText=$('select#day option:selected').text();

    		var sh=$('select#hourStart').val();
    		var sm=$('select#minStart').val();
    		var eh=$('select#hourEnd').val();
    		var em=$('select#minEnd').val();
    		if($('div#divTimeSlot ul li').length==0)//first slot addition
    			{
    		$('div#divTimeSlot ul')
    		    .append(
    		        $("<li data-day="+day+">")
    		            .html('Every '+ dayText + ' from ' + leftPadWithZeros(sh, 2) + ':' + leftPadWithZeros(sm, 2) +' to ' + leftPadWithZeros(eh, 2) + ':' + leftPadWithZeros(em, 2) + ' ')
    		            .append('<input type="hidden" name="slots" value="'+day+','+sh+','+sm+','+eh+','+em+'"/>')
    		            .append('<input type="button" value="Remove" class="removeTimeSlot" />')
    		    );
    		
    			}
    		else//additional slots addition is sorted
    			{
    			var added=false;
    			var dayIndex=0;
    			$('div#divTimeSlot ul li').each(function (){
    				if(added)return;
    				dayIndex = $(this).attr('data-day');
    				if(day<=dayIndex)
    					{
    					$(this).before(
    							 $("<li data-day="+day+">")
    		    		            .html('Every '+ dayText + ' from ' + leftPadWithZeros(sh, 2) + ':' + leftPadWithZeros(sm, 2) +' to ' + leftPadWithZeros(eh, 2) + ':' + leftPadWithZeros(em, 2) + ' ')
    		    		            .append('<input type="hidden" name="slots" value="'+day+','+sh+','+sm+','+eh+','+em+'"/>')
    		    		            .append('<input type="button" value="Remove" class="removeTimeSlot" />')
    							);
    							 added=true;
    							
    					}
    			});
    			if(!added)
    				{
    				$('div#divTimeSlot ul')
        		    .append(
        		        $("<li data-day="+day+">")
        		            .html('Every '+ dayText + ' from ' + leftPadWithZeros(sh, 2) + ':' + leftPadWithZeros(sm, 2) +' to ' + leftPadWithZeros(eh, 2) + ':' + leftPadWithZeros(em, 2) + ' ')
        		            .append('<input type="hidden" name="slots" value="'+day+','+sh+','+sm+','+eh+','+em+'"/>')
        		            .append('<input type="button" value="Remove" class="removeTimeSlot" />')
        		    );
    				}
    			}
    		
	        $("input.removeTimeSlot").bind("click", removeTimeSlotFn);
    	});
    	
        $("input[type=text].datepicker").datepicker({dateFormat: "dd.mm.yy"});

        $("input[type=button]#submit-btn").bind("click", function() {
            //Check empty values, show an error if there are any empty values...
            var form = $("form#add-service");
            var errors = false;
            var errorDiv = $("p.error").addClass("hidden").html("");
            $("span.error").remove();
            $(".error-field").removeClass("error-field");
            
            if(locationType=="NORMAL"){
	            form.find("select#taskId, textarea#description, input#location, input#title").each(function(item, key) {
	                if (!$(this).val()) {
	                    errors = true;
	                    $(this).addClass("error-field");
	                    $(this).parent().prepend($("<span>").addClass("error").html("This field cannot be empty!"));
	                }
	            });
            }
            else{
            	form.find("select#taskId, textarea#description, input#title").each(function(item, key) {
	                if (!$(this).val()) {
	                    errors = true;
	                    $(this).addClass("error-field");
	                    $(this).parent().prepend($("<span>").addClass("error").html("This field cannot be empty!"));
	                }
	            });
            }
            if (!errors) {
                form.submit();
            } else {
                errorDiv.html("Please Correct the errors below");
                errorDiv.removeClass("hidden");
            }
        });
        #{if serviceId}
            $("input[type=button].back-btn").bind("click", function() {
                document.location = '@{Services.detail}/${serviceId}';
            });
            $("input[type=radio][name=type][value=${service.type}]").attr("checked", "");
        #{/if}
        	 
        
        $("input#locationType").bind("click", function() {
            if ($(this).val() == "${models.LocationType.VIRTUAL}" || $(this).val() == "${models.LocationType.ANYLOCATION}") {
          	    $("input#location").attr('disabled', true);
          		$("p.location").hide();
          		$("div#map_canvas").remove();
          	} else {
          		$("input#location").attr('disabled', false);
          		$("p.location").show();
          		if ($("div#map_canvas").length<=0){
          			$("input#location").parent().append("<div id='map_canvas' style='width: 500px; height: 300px'></div>");
          		}
          		initialize();
          	}
          	locationType=$(this).val();
        });
    });
</script>
