#{extends 'main.html' /}
#{set submenuView: 'services' /}
#{set tagString:'' /}

#{if serviceId}
    <input type="button" class="back-btn" value="&larr; Nope, my bad!" />
    #{set title:'Edit Your Service: ' + service.title /}
#{/if}
#{else}
    #{set title:'Add Your Service' /}
#{/else}

<div id="newService">
    #{form @save(), id:'add-service'}
        <p class="error hidden">
        </p>
        <p>
            #{field 'taskId'}
            <label>Task:</label>
            <select id="${field.name}" name="${field.name}" class="${field.errorClass}">
                <option value="" />-
                #{list tasks, as:'t'}
	               	<option value="${t.id}" />${t.name}
                #{/list}
            </select>
            <span class="tip right proposal">Not Found What You're looking for? Check the <a href="@{Tasks.proposals}">proposals!</a></span>
            <span class="tip">This service is related with what? You shall gain points based on this option.</span>
            #{/field}
        </p>
        <p>
        	<label>Type:</label>
        	#{if service.type==models.ServiceType.REQUESTS}
    			<input type="hidden" name="type" value="${service.type.REQUESTS}"/>
       			<span style="color:green"><b>Request</b></span>
       		#{/if}
	 		#{else}
	 			<input type="hidden" name="type" value="${service.type.PROVIDES}"/>
	 			<span style="color:green"><b>Provide</b></span>
	 		#{/else}
        </p>
        <p>
            #{field 'startDate'}
            <label>Start Date:</label>
            <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass} datepicker" value="${service.getFormattedStartDate()}" />
            <span class="tip">Do you have an availability date for this service?</span>
            #{/field}
        </p>
        <p>
            #{field 'endDate'}
            <label>End Date:</label>
            <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass} datepicker" value="${service.getFormattedEndDate()}" />
            <span class="tip">Perhaps this service has a deadline?</span>
            #{/field}
        </p>
        <p>
         <label>Week day:</label>
        <select id="day"> <option value="0" >Monday</option>
        <option value="1" >Tuesday</option>
        <option value="2" >Wednesday</option>
        <option value="3" >Thursday</option>
        <option value="4" >Friday</option>
        <option value="5" >Saturday</option>
        <option value="6" >Sunday</option>
         </select> 
         <input type="text" id="hourStart"/ class="time">:<input type="text" class="time" id="minStart"/>
         -<input type="text" id="hourEnd" class="time"/>:<input type="text" class="time" id="minEnd"/>
        <input type="button" id="addTimeSlot" value="Add" /> 
        </p>
        <p>
        <div id="divTimeSlot">
        <ul></ul>
        </div>
        </p>
        <p>
            #{field 'title'}
            <label>Title:</label>
            <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="${service.title}" />
            <span class="tip">What do you call for this service? Something that will define your service uniquely. People should remember it too!</span>
            #{/field}
        </p>
        <p>
            #{field 'location'}
            <label>Location:</label>
            <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="${service.location}" />
            <span class="tip">Well, if you are in Istanbul, someone in New York may not help you! Best tell it!</span>

            #{/field}
        </p>
        <p>
            #{field 'tags'}
            <label>Tags:</label>
            #{if service.stags!=null}
                #{list service.stags, as:'tag'}
                    #{set tagString: tagString + tag.text + (tag_isLast ? '' : ', ') /}
            	#{/list}
            	<input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="${tagString}" />
           	#{/if}
           	#{else}
                <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="" />
           	#{/else}
           	#{/field}
           	<span class="tip">Add tags seperated by a comma to allow people to search your services easily</span>
        </p>	
        <p>
            #{field 'description'}
            <label>Description:</label><br />
            <span class="tip">Give a little bit more detail about your need or service. Something that will define the boundaries of it etc.</span>
            <textarea id="${field.name}" name="${field.name}" class="${field.errorClass}">${service.description}</textarea>
            #{/field}
        </p>
        <p>
            <input type="button" value="Continue &rarr;" id="submit-btn">
        </p>
        #{if serviceId}
            <input type="hidden" value="${serviceId}" name="serviceId" id="serviceId" />
        #{/if}
    #{/form}
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
    	//// add time slot
    	$('input#addTimeSlot').click(function(){
    		var day=$('select#day option:selected').val();
    		var dayText=$('select#day option:selected').text();
    		var sh=$('input#hourStart').val();
    		var sm=$('input#minStart').val();
    		var eh=$('input#hourEnd').val();
    		var em=$('input#minEnd').val();
    		
    		$('div#divTimeSlot ul').append('<li> Every'+ dayText+'from'+sh+':'+sm+' to '+eh+':'+em+ '</li>');
    		$('div#divTimeSlot').prepend('<input type="hidden" name="slots" value="'+day+','+sh+','+sm+','+eh+','+em+'"/>')
    		 
    	});
    	
    	
    	//////
        $("input[type=text].datepicker").datepicker({dateFormat: "dd.mm.yy"});

        $("input[type=button]#submit-btn").bind("click", function() {
            //Check empty values, show an error if there are any empty values...
            var form = $("form#add-service");
            var errors = false;
            var errorDiv = $("p.error").addClass("hidden").html("");
            $("span.error").remove();
            $(".error-field").removeClass("error-field");
            form.find("select#taskId, textarea#description, input#location, input#title").each(function(item, key) {
                if (!$(this).val()) {
                    errors = true;
                    $(this).addClass("error-field");
                    $(this).parent().prepend($("<span>").addClass("error").html("This field cannot be empty!"));
                }
            });
            if (!errors) {
                form.submit();
            } else {
                errorDiv.html("Please Correct the errors below");
                errorDiv.removeClass("hidden");
            }
        });
        #{if serviceId}
            $("input[type=button].back-btn").bind("click", function() {
                document.location = '@{Services.detail}/${serviceId}';
            });
            $("input[type=radio][name=type][value=${service.type}]").attr("checked", "");
        #{/if}
    });
</script>