#{extends 'main.html' /}
#{set title:'Browse Services' /}
#{set submenuView: 'services' /}

<div class="sidebar">
    <h3>Popular Tasks</h3>
    <div id="task-cloud" class="cloud right"></div>
    #{if tagClouds!=null && tagClouds.size()>0}
	    <h3>Popular Tags</h3>
	    <div id="tag-cloud" class="cloud right">
	</div>
#{/if}
</div>

<script type="text/javascript" charset="utf-8">
    $("document").ready(function() {
       var words = new Array();
       #{list tasks, as:'t'}
           words.push({text:"${t.name}", url:"@{Services.list}?task=${t.id}", weight: ${t.weight}})
       #{/list}
       $("div#task-cloud").jQCloud(words);
       
       var tags = new Array();
       #{list tagClouds, as:'tc'}
       		tags.push({text:"${tc.tagText}", url:"@{Services.list}?tag=${tc.tagText}", weight:${tc.tagCount}})
       	#{/list}
       $("div#tag-cloud").jQCloud(tags);
    });
</script>
#{if services.size() < 1}
	No service is found.
#{/if}
#{else}
<div id="container">
 
<div class="search-background">
			<label><img src="public/images/loader.gif" alt="" /></label></div>
</div>
	#{if maxPageNumber>1}
	 	<div id="paging_button1">
	 		Jump to page:
	 		<select>
	 			#{list items:1..maxPageNumber, as:'i'}
	 				<option value="${i}">${i}</option>
	 			#{/list}
	 		</select>
		</div>
	#{/if}
	<br/>
 <div id="content">
 </div>
	#{if maxPageNumber>1}
	 	<div id="paging_button2">
			Jump to page:
	 		<select>
	 			#{list items:1..maxPageNumber, as:'i'}
	 				<option value="${i}">${i}</option>
	 			#{/list}
	 		</select>
		</div>
	#{/if}
</div>
#{/else}
<script type="text/javascript" charset="utf-8">
    
    $(document).ready(function(){
    	 
    	function showLoader(){
     
    		$('.search-background').fadeIn(200);
    	}
     
    	function hideLoader(){
     
    		$('.search-background').fadeOut(200);
    	};
     
    	$("#paging_button li").click(function(){
     
    		showLoader();
     
    		$("#paging_button li").css({'background-color' : ''});
    		$(this).css({'background-color' : '#006699'});
     
    		$("#content").load("/services/listPage?page=" + this.id, hideLoader);
     
    		return false;
    	});
     
    	
    	$("#paging_button1 select").change(function(){
    	     
    		showLoader();
     
    		$("#paging_button2 select").val(this.value);
    		$("#content").load("/services/listPage?page=" + this.value, hideLoader);
     
    		return false;
    	});
    	$("#paging_button2 select").change(function(){
   	     
    		showLoader();
     
    		$("#paging_button1 select").val(this.value);
    		$("#content").load("/services/listPage?page=" + this.value, hideLoader);
     
    		return false;
    	});
    	
    	showLoader();
    	page=$("#paging_button1 select").val();
    	if(page==null){
    		page=1;
    	}
    	$("#content").load("/services/listPage?page="+page, hideLoader);
     
    });

</script>
