#{extends 'main.html' /}
#{set title:'Search Service' /}
#{set submenuView: 'services' /}

<div>
     #{if error}
         <p class="error">
             ${error}
         </p>
     #{/if}
    #{form @search(), class:'search'}
    	<input type="hidden" id="locationLat" name="locationLat" value="${sc.locationLat}"/>
    	<input type="hidden" id="locationLng" name="locationLng" value="${sc.locationLng}"/>
        <input type="hidden" name="searchDone" value="1"/>
                <p>
                <label>Task:</label>
                    #{field 'taskId'}
                    <select id="${field.name}" name="${field.name}" class="${field.errorClass}">
                        <option value="-1" />ALL
                        #{list tasks, as:'t'}
                            #{if t.id==sc.taskId}
                                 <option value="${t.id}" selected/>${t.name}
                             #{/if}
                             #{else}
                                 <option value="${t.id}" />${t.name}
                             #{/else}
                        #{/list}
                    </select>
                    #{/field}
                </p>
                <p>
                <label>Service type:</label>
                    #{field 'serviceType'}
                    <select id="${field.name}" name="${field.name}" class="${field.errorClass}">
                        <option value="-1" />ALL
                        #{list serviceTypes, as:'type'}
                            #{if type.ordinal==sc.serviceType}
                                 <option value="${type.ordinal}" selected/>${type}
                             #{/if}
                             #{else}
                                 <option value="${type.ordinal}" />${type}
                             #{/else}
                        #{/list}
                              
                    </select>
                    #{/field}
                </p>
                <p>
                    
                <label>Title:</label>
                    #{field 'title'}
                        <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="${sc.title}" />
                    #{/field}
                </p>
                <p>
                <label>Description:</label>
                    #{field 'description'}
                        <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="${sc.description}" />
                    #{/field}
                </p>
                 <p>
		            #{field 'locationType'}
		            <label class="required">Location Type:</label>
		            
		             #{if sc.locationType==models.LocationType.ALL}
		            	<input type="radio" id="${field.name}" name="${field.name}" value="${models.LocationType.ALL}" checked/>All
		            #{/if}
		            #{else}
		            	<input type="radio" id="${field.name}" name="${field.name}" value="${models.LocationType.ALL}"/>All
		            #{/else}
		            #{if sc.locationType==models.LocationType.NORMAL}
		            	<input type="radio" id="${field.name}" name="${field.name}" value="${models.LocationType.NORMAL}" checked/>Location Based
		            #{/if}
		            #{else}
		            	<input type="radio" id="${field.name}" name="${field.name}" value="${models.LocationType.NORMAL}"/>Location Based
		            #{/else}
		            
		            #{if sc.locationType==models.LocationType.VIRTUAL}
		            	<input type="radio" id="${field.name}" name="${field.name}" value="${models.LocationType.VIRTUAL}" checked/>Virtual Location
		            #{/if}
		            #{else}
		           		<input type="radio" id="${field.name}" name="${field.name}" value="${models.LocationType.VIRTUAL}"/>Virtual Location
		            #{/else}
		            
		            #{if sc.locationType==models.LocationType.ANYLOCATION}
		            	<input type="radio" id="${field.name}" name="${field.name}" value="${models.LocationType.ANYLOCATION}" checked/>Any Location
		            #{/if}
		            #{else}
		            	<input type="radio" id="${field.name}" name="${field.name}" value="${models.LocationType.ANYLOCATION}"/>Any Location
		            #{/else}
		            
		            <span class="tip">Choose a location type for your service.</span>
		            #{/field}
		        </p>
		        
                <p class="location">
                	<label>Location:</label>
                    #{field 'location'}
                        <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="${sc.location}" />
                        <span class="tip">Well, if you are in Istanbul, someone in New York may not help you! Best tell it!</span>       		
                    #{/field}
                    #{if sc.locationType==models.LocationType.NORMAL || sc.locationType==models.LocationType.ALL}
            			<div id="map_canvas" style="width: 500px; height: 300px"></div>
            		#{/if}
                </p>
                
            <p>
                <label>Max Base Point:</label>
                    #{field 'maxBasePoint'}
                        <select id="${field.name}" name="${field.name}" class="${field.errorClass}">
                            #{list items:100..0, as:'i'}
                                   <option value="${i}" />${i}
                            #{/list}
                        </select>
                    #{/field}
                    </p>
                    <p #{if $error } class="error"#{/if}>
                <label>Date Interval:</label>
                    #{field 'startDate'}
                        <input type="text" id="${field.name}" name="${field.name}" readonly="readonly" class="${field.errorClass} datepicker" value="${sc.startDate}" />
                    #{/field}
                   
                    #{field 'endDate'}
                        <input type="text" id="${field.name}" name="${field.name}" readonly="readonly" class="${field.errorClass} datepicker" value="${sc.endDate}" />
                    #{/field}
                </p>
                <p>
                <label>Available Slots:</label>
                #{field 'searchSlots'}
                <input type="checkbox" id="${field.name}" name="${field.name}" />
                #{/field}
                #{field 'dayOfWeek'}
                <select id="${field.name}" name="${field.name}" disabled>
                  <option value="0" >Monday</option>
                  <option value="1" >Tuesday</option>
		          <option value="2" >Wednesday</option>
		          <option value="3" >Thursday</option>
		          <option value="4" >Friday</option>
		          <option value="5" >Saturday</option>
		          <option value="6" >Sunday</option>
                </select>
                #{/field}
                #{field 'hourStart'}
		<select id="${field.name}" name="${field.name}" disabled>
		  <option value="0" selected>00</option>
		  <option value="1">01</option>
		  <option value="2">02</option>
		  <option value="3">03</option>
		  <option value="4">04</option>
		  <option value="5">05</option>
		  <option value="6">06</option>
		  <option value="7">07</option>
		  <option value="8">08</option>
		  <option value="9">09</option>
		  <option value="10">10</option>
		  <option value="11">11</option>
		  <option value="12">12</option>
		  <option value="13">13</option>
		  <option value="14">14</option>
		  <option value="15">15</option>
		  <option value="16">16</option>
		  <option value="17">17</option>
		  <option value="18">18</option>
		  <option value="19">19</option>
		  <option value="20">20</option>
		  <option value="21">21</option>
		  <option value="22">22</option>
		  <option value="23">23</option>
		</select>
                #{/field}
                :
                #{field 'minStart'}
		<select id="${field.name}" name="${field.name}" disabled>
		  <option value="0" selected>00</option>
		  <option value="1">01</option>
		  <option value="2">02</option>
		  <option value="3">03</option>
		  <option value="4">04</option>
		  <option value="5">05</option>
		  <option value="6">06</option>
		  <option value="7">07</option>
		  <option value="8">08</option>
		  <option value="9">09</option>
		  <option value="10">10</option>
		  <option value="11">11</option>
		  <option value="12">12</option>
		  <option value="13">13</option>
		  <option value="14">14</option>
		  <option value="15">15</option>
		  <option value="16">16</option>
		  <option value="17">17</option>
		  <option value="18">18</option>
		  <option value="19">19</option>
		  <option value="20">20</option>
		  <option value="21">21</option>
		  <option value="22">22</option>
		  <option value="23">23</option>
		  <option value="24">24</option>
		  <option value="25">25</option>
		  <option value="26">26</option>
		  <option value="27">27</option>
		  <option value="28">28</option>
		  <option value="29">29</option>
		  <option value="30">30</option>
		  <option value="31">31</option>
		  <option value="32">32</option>
		  <option value="33">33</option>
		  <option value="34">34</option>
		  <option value="35">35</option>
		  <option value="36">36</option>
		  <option value="37">37</option>
		  <option value="38">38</option>
		  <option value="39">39</option>
		  <option value="40">40</option>
		  <option value="41">41</option>
		  <option value="42">42</option>
		  <option value="43">43</option>
		  <option value="44">44</option>
		  <option value="45">45</option>
		  <option value="46">46</option>
		  <option value="47">47</option>
		  <option value="48">48</option>
		  <option value="49">49</option>
		  <option value="50">50</option>
		  <option value="51">51</option>
		  <option value="52">52</option>
		  <option value="53">53</option>
		  <option value="54">54</option>
		  <option value="55">55</option>
		  <option value="56">56</option>
		  <option value="57">57</option>
		  <option value="58">58</option>
		  <option value="59">59</option>
		</select>
                #{/field}
                -
                #{field 'hourEnd'}
		<select id="${field.name}" name="${field.name}" disabled>
		  <option value="0">00</option>
		  <option value="1">01</option>
		  <option value="2">02</option>
		  <option value="3">03</option>
		  <option value="4">04</option>
		  <option value="5">05</option>
		  <option value="6">06</option>
		  <option value="7">07</option>
		  <option value="8">08</option>
		  <option value="9">09</option>
		  <option value="10">10</option>
		  <option value="11">11</option>
		  <option value="12">12</option>
		  <option value="13">13</option>
		  <option value="14">14</option>
		  <option value="15">15</option>
		  <option value="16">16</option>
		  <option value="17">17</option>
		  <option value="18">18</option>
		  <option value="19">19</option>
		  <option value="20">20</option>
		  <option value="21">21</option>
		  <option value="22">22</option>
		  <option value="23" selected>23</option>
		</select>
                #{/field}
                :
                #{field 'minEnd'}
		<select id="${field.name}" name="${field.name}" disabled>
		  <option value="0">00</option>
		  <option value="1">01</option>
		  <option value="2">02</option>
		  <option value="3">03</option>
		  <option value="4">04</option>
		  <option value="5">05</option>
		  <option value="6">06</option>
		  <option value="7">07</option>
		  <option value="8">08</option>
		  <option value="9">09</option>
		  <option value="10">10</option>
		  <option value="11">11</option>
		  <option value="12">12</option>
		  <option value="13">13</option>
		  <option value="14">14</option>
		  <option value="15">15</option>
		  <option value="16">16</option>
		  <option value="17">17</option>
		  <option value="18">18</option>
		  <option value="19">19</option>
		  <option value="20">20</option>
		  <option value="21">21</option>
		  <option value="22">22</option>
		  <option value="23">23</option>
		  <option value="24">24</option>
		  <option value="25">25</option>
		  <option value="26">26</option>
		  <option value="27">27</option>
		  <option value="28">28</option>
		  <option value="29">29</option>
		  <option value="30">30</option>
		  <option value="31">31</option>
		  <option value="32">32</option>
		  <option value="33">33</option>
		  <option value="34">34</option>
		  <option value="35">35</option>
		  <option value="36">36</option>
		  <option value="37">37</option>
		  <option value="38">38</option>
		  <option value="39">39</option>
		  <option value="40">40</option>
		  <option value="41">41</option>
		  <option value="42">42</option>
		  <option value="43">43</option>
		  <option value="44">44</option>
		  <option value="45">45</option>
		  <option value="46">46</option>
		  <option value="47">47</option>
		  <option value="48">48</option>
		  <option value="49">49</option>
		  <option value="50">50</option>
		  <option value="51">51</option>
		  <option value="52">52</option>
		  <option value="53">53</option>
		  <option value="54">54</option>
		  <option value="55">55</option>
		  <option value="56">56</option>
		  <option value="57">57</option>
		  <option value="58">58</option>
		  <option value="59" selected>59</option>
		</select>
                #{/field}
                </p>
                <p>
                <label>Tags:</label>
                    #{field 'tags'}
                        <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="${sc.tags}" />
                    #{/field}
                </p>
                <p>
                    <input type="submit" value="Search &rarr;" id="submit-btn">
                    </p>
    #{/form}
<br/>
<div id = "theResults" style =
"width:22em;border:1px black solid;padding-left:2px;padding-right:2px; visibility: hidden">
</div>


</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $("input[type=text].datepicker").datepicker({dateFormat: "dd.mm.yy"});
        $("input#searchSlots").click(function (){
        	if($(this).is(':checked'))
        		{
        		$(this).parent().find("select").removeAttr("disabled");
        		}
        	else
        		{
        		$(this).parent().find("select").attr("disabled", true);
        		}
        	
        });
        
        
        if ($("input#locationType:checked").val() == "${models.LocationType.VIRTUAL}" || $("input#locationType:checked").val() == "${models.LocationType.ANYLOCATION}") {
      	    $("input#location").attr('disabled', true);
      		$("p.location").hide();
      		$("div#map_canvas").remove();
      	} else {
      		$("input#location").attr('disabled', false);
      		$("p.location").show();
      		if ($("div#map_canvas").length<=0){
      			$("input#location").parent().append("<div id='map_canvas' style='width: 500px; height: 300px'></div>");
      		}
      		initialize();
      	}
        
        $("input#locationType").bind("click", function() {
        	if ($(this).val() == "${models.LocationType.VIRTUAL}" || $(this).val() == "${models.LocationType.ANYLOCATION}") {
          	    $("input#location").attr('disabled', true);
          		$("p.location").hide();
          		$("div#map_canvas").remove();
          	} else {
          		$("input#location").attr('disabled', false);
          		$("p.location").show();
          		if ($("div#map_canvas").length<=0){
          			$("input#location").parent().append("<div id='map_canvas' style='width: 500px; height: 300px'></div>");
          		}
          		initialize();
          	}
        });
        
    });
</script> 
