#{extends 'main.html' /}
#{set title:'Search Service' /}
#{set submenuView: 'services' /}

<div>
     #{if error}
         <p class="error">
             ${error}
         </p>
     #{/if}
    #{form @search(), class:'search'}
        <input type="hidden" name="searchDone" value="1"/>
                <p>
                <label>Task:</label>
                    #{field 'taskId'}
                    <select id="${field.name}" name="${field.name}" class="${field.errorClass}">
                        <option value="-1" />ALL
                        #{list tasks, as:'t'}
                            #{if t.id==sc.taskId}
                                 <option value="${t.id}" selected/>${t.name}
                             #{/if}
                             #{else}
                                 <option value="${t.id}" />${t.name}
                             #{/else}
                        #{/list}
                    </select>
                    #{/field}
                </p>
                <p>
                <label>Service type:</label>
                    #{field 'serviceType'}
                    <select id="${field.name}" name="${field.name}" class="${field.errorClass}">
                        <option value="-1" />ALL
                        #{list serviceTypes, as:'type'}
                            #{if type.ordinal==sc.serviceType}
                                 <option value="${type.ordinal}" selected/>${type}
                             #{/if}
                             #{else}
                                 <option value="${type.ordinal}" />${type}
                             #{/else}
                        #{/list}
                              
                    </select>
                    #{/field}
                </p>
                <p>
                    
                <label>Title:</label>
                    #{field 'title'}
                        <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="${sc.title}" />
                    #{/field}
                </p>
                <p>
                <label>Description:</label>
                    #{field 'description'}
                        <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="${sc.description}" />
                    #{/field}
                </p>
                <p>
                <label>Location:</label>
                    #{field 'location'}
                        <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="${sc.location}" />
                    #{/field}
                </p>
            <p>
                <label>Max Base Point:</label>
                    #{field 'maxBasePoint'}
                        <select id="${field.name}" name="${field.name}" class="${field.errorClass}">
                            #{list items:100..0, as:'i'}
                                   <option value="${i}" />${i}
                            #{/list}
                        </select>
                    #{/field}
                    </p>
                    <p #{if $error } class="error"#{/if}>
                <label>Date Interval:</label>
                    #{field 'startDate'}
                        <input type="text" id="${field.name}" name="${field.name}" readonly="readonly" class="${field.errorClass} datepicker" value="${sc.startDate}" />
                    #{/field}
                   
                    #{field 'endDate'}
                        <input type="text" id="${field.name}" name="${field.name}" readonly="readonly" class="${field.errorClass} datepicker" value="${sc.endDate}" />
                    #{/field}
                </p>
                <p>
                <label>Tags:</label>
                    #{field 'tags'}
                        <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="${sc.tags}" />
                    #{/field}
                </p>
                <p>
                    <input type="submit" value="Search &rarr;" id="submit-btn">
                    </p>
    #{/form}
<br/>
<div id = "theResults" style =
"width:22em;border:1px black solid;padding-left:2px;padding-right:2px; visibility: hidden">
</div>


</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $("input[type=text].datepicker").datepicker({dateFormat: "dd.mm.yy"});
    });
</script> 