#{extends 'main.html' /}
#{set title: 'Service Type List' /}
#{set submenuView: 'tasks' /}

<div id="middlePanel" class="full">
#{list tasks, as:'t'}
    <div class="list-item">
        <div class="info" style="display:inline;">
            <span class="item">
                Title: <span class="value"><a href="@{Tasks.taskDetail}/${t.id}">${t.name}</a></span>
            </span>
            <span class="item">
                Point: <span class="value">${t.point}</span>
            </span>
             <span class="item">
                Status: <span class="value">${t.status}</span>
            </span>
        </div>
        <div class="clearfix"></div>
    </div>
#{/list}
</div>
