<ul>
    <li>
        <a href="@{Services.index}?type=1">
            <img src="@{'/public/images/icons/services-request.ico'}" class="icons" />
            Request A New Service
        </a>
    </li>
    <li>
        <a href="@{Services.index}?type=0">
            <img src="@{'/public/images/icons/services-provide.ico'}" class="icons" />
            Provide A New Service
        </a>
    </li>
    <li>
        <a href="@{Services.myServices}">
            <img src="@{'/public/images/icons/services-my.ico'}" class="icons" />
            My Services
        </a>
    </li>
    <li>
        <a href="@{Services.search}">
            <img src="@{'/public/images/icons/services-search.ico'}" class="icons" />
            Search
        </a>
    </li>
    <li>
        <a href="@{Services.list}">
            <img src="@{'/public/images/icons/services.ico'}" class="icons" />
            All Services
        </a>
    </li>
</ul>