<img src="@{'/public/images/icons/services-request.ico'}" class="icons" /> <a href="@{Services.index}?type=1">Request A New Service</a> |
<img src="@{'/public/images/icons/services-provide.ico'}" class="icons" /> <a href="@{Services.index}?type=0">Provide A New Service</a> |
<img src="@{'/public/images/icons/services-my.ico'}" class="icons" /> <a href="@{Services.myServices}">My Services</a> |
<img src="@{'/public/images/icons/services-search.ico'}" class="icons" /> <a href="@{Services.search}">Search</a> |
<img src="@{'/public/images/icons/services.ico'}" class="icons" /> <a href="@{Services.list}">All Services</a>