<ul>
    <li>
        <a href="@{Tasks.allTasks}">
            <img src="@{'/public/images/icons/service-types.ico'}" class="icons" />
            Service Type List
        </a>
    </li>
    <li>
        <a href="@{Tasks.suggest}">
            <img src="@{'/public/images/icons/tasks-add.ico'}" class="icons" />
            Propose New Type
        </a>
    </li>
    <li>
        <a href="@{Tasks.proposals}">
            <img src="@{'/public/images/icons/service-types.ico'}" class="icons" />
            Proposals List
        </a>
    </li>
</ul>