#{extends 'main.html' /}
#{set title: '' /}

<div id="leftPanel">
<h2>About Developers</h2>
<p>We are a group of students taking education on Bogazici University. We are dedicated, hard (very) working, talented and creative persons put together by our instructor, to orchestrate this beautiful web site and social web site. Feel free to visit us at Etiler Starbucks where we frequently be found composing new songs..</p>
<h2>Dramatis personæ</h2>
<ul>
    <li>Ertugrul Koksal - Maestro</li>
    <li>Cihan Ekici - Woodwinds</li>
    <li>Anil Altunkan - Brass</li>
    <li>Mustafa Ilker Cakirgoz - Keyboards</li>
    <li>Mehmet Ilgar - Strings</li>
    <li>Roy Simkes - Percussions</li>
</ul>
</div>

<div id="middlePanel" class="full">
<h2>About SES</h2>

<p>SES is all about giving and receiving! It's about sharing things you know or you can do with others. In benefit to community of course.</p>

<p>SES helps you find the things you need to be done with others, or in the contrary thing you want to do with others. It's about helping each other for tasks you can't do alone. Driving an old lady to the hospital or helping someone painting his house or you may want to tell tales about your past life to youngsters -if you are the old lady. It's all about giving and receiving.</p>

<p>SES is a community oriented service exchange system. Things you need that is not listed as a service type? Propose it, vote others, bookmark people you have liked. Everything easily with clicks of buttons!</p>
</div>