#{extends 'main.html' /}
#{set title: 'FAQ' /}

<p>All your questions answered, below...</p>

<h2>What is SES?</h2>
<p>SES is acronym to Service Exchange System. It's a community driven social sharing site. It helps you to find persons to solve your problems or you can tell others that you can solve problems. </p>

<h2>How can I join you?</h2>
<p>Oh, this one is easy. just click on the Facebook login button, allow us to access some basic information, and you are ready to go!</p>

<h2>Can I join without Facebook?</h2>
<p>For the moment, no. Twitter or other Open ID integration is planned but it's not yet done. But if you ask why we don't maintain our own user management is that we don't want to create online community which you aren't real. SES is about real people, having real problems. Facebook is as close to the reality as we can ever be anyway.</p>

<h2>What is a Service?</h2>
<p>A type, a person, a description, a location and a need (or your will to fulfill a need) creates a service. With some availability dates attached to it creates a timed service. You post a service, than peoples browse them.</p>

<h2>Wait a minute! You said service type?</h2>
<p>Yes, service types. It's basically defines what will be done in that service. I can create a service about gardening so can you! What puts them together is the task of gardening.</p>

<h2>Can I propose service types or are you managing that?</h2>
<p>Of course! We are a community driven social site. You can propose your own service types, people can vote to them (either positively or negatively). Or put comments to the service types.</p>

<h2>I'm new here, why someone will pick me?</h2>
<p>They will. We are a community who welcomes all newcomers, we give them chances so they can show themselves. Our matching mechanism helps others to find you quickly and easily. Just go on create a new service and SES will provide you to the next direction.</p>

<h2>How the matching mechanism works?</h2>
<p>Well first we look at the... Ah, nice one. While details of it is a company secret, service types, availability dates, tags, social points, registration dates are all parameters to it. Nice try, you nearly got me there :)</p>

<h2>What is Provider and Requestor Points? And Social Point too?</h2>
<p>This, I can answer! When you provide a service and finish it; you gain provider points based on the service's type's points. The more you have points the more you perform well. You receive Requestor Points based on the request services you finish. The difference between each other is your Social Point!</p>

<h2>What is Provides and Requests really mean?</h2>
<p>Well, you provide a service, if you want to help someone at a time. You request a service, if you need something to be done.</p>
