#{extends 'main.html' /}
#{set title: '' /}

<div id="leftPanel">

<h2>Need Help?</h2>
<p>There are different kinds of help you can get. Try FAQ page, send us an email or just pm a fellow member. You can get the help you need pretty fast!</p>

</div>

<div id="middlePanel" class="full">
    <h2>Reading the FAQ</h2>
    <p>
        FAQ is a good list of questions asked frequently (oh really?!) that might answer your general questions. Find the FAQ <a href="@{StaticPages.help}">here</a>.
    </p>
    <h2>By Email</h2>
    <p>
        For anything related to SES, you can send us an email using, info[ at ]ses[ dot ].com. You can contact us about your ideas, complaints or requests. We will answer you as best as we can, as fast as we can.
    </p>
    <h2>By Private Message</h2>
    <p>
        We are a helpful community. If you got a specific question about a service or something like that, you can send private messages through the system to fellow members.
    </p>
</div>