#{extends 'main.html' /}
#{set title: 'Compose' /}
#{set submenuView: 'messages' /}
#{set additionalTip: '' /}
#{set descTip: '' /}
#{set subject: '' /}
#{set messageContent: '' /}
    
#{form @send(), id:'compose-message'}
    <p class="error hidden">
    </p>
    #{if service != null}
        <p>
            <label>Recipient:</label> <a href="@{Profile.profile}/${service.boss.id}">${service.boss}</a>
        </p>
        <p>
            <label>Service:</label> <a href="@{Services.detail}/${service.id}">${service.title}</a>
        </p>
        <input type="hidden" value="${service.id}" name="serviceId" id="serviceId" />
        #{set additionalTip: 'Recipient will see the related task on this message, don\'t worry about it...' /}
        #{set descTip: 'Tell about your intentions, dates available to you, or ask for more detail or communication info.' /}
    #{/if}
    #{elseif um != null && service == null}
        <p>
            <label>Recipient:</label> <a href="@{Profile.profile}/${um.sender.id}">${um.sender}</a>
        </p>
        <input type="hidden" name="recipientId" value="${um.sender.id}" id="recipientId" />
        #{set subject: 'Re: ' + um.subject /}
        #{set messageContent: '\n\n--------------\n' + um.message /}
    #{/elseif}
    #{else}
        <p>
            #{field 'recipientId'}
            <label>Recipient:</label>
            <input id="recipient-label">
            <input type="hidden" name="${field.name}" id="${field.name}" />
            <span class="tip">Start typing the user's name and magic will happen...</span>
            #{/field}
        </p>
    #{/else}
    <p>
        #{field 'subject'}
        <label>Subject:</label>
        <input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="${subject}" />
        <span class="tip">A summary of what you want to say. ${additionalTip}</span>
        #{/field}
    </p>	
    <p>
        #{field 'message'}
        <label>Message:</label><br />
        <span class="tip">${descTip}</span>
        <textarea id="${field.name}" name="${field.name}" class="${field.errorClass}">${messageContent}</textarea>
        #{/field}
    </p>
    <p>
        <input type="button" value="Send It!" id="submit-btn">
    </p>
#{/form}
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $("input[type=button]#submit-btn").bind("click", function() {
            //Check empty values, show an error if there are any empty values...
            var form = $("form#compose-message");
            var errors = false;
            var errorDiv = $("p.error").addClass("hidden").html("");
            $("span.error").remove();
            $(".error-field").removeClass("error-field");
            form.find("textarea#message, input#subject, input#recipientId").each(function(item, key) {
                if (!$(this).val()) {
                    errors = true;
                    if ($(this).attr("id") == "recipientId") {
                        $("input#recipient-label").addClass("error-field");
                    } else {
                       $(this).addClass("error-field");
                    }
                    $(this).parent().prepend($("<span>").addClass("error").html("This field cannot be empty!"));
                }
            });
            if (!errors) {
                form.submit();
            } else {
                errorDiv.html("Please Correct the errors below");
                errorDiv.removeClass("hidden");
            }
        });
        $("#recipient-label").autocomplete({
    		minLength: 3,
    		source: '@{UserMessages.findUsersWith}',
    		select: function(event, ui) {
    			$("#recipient-label").val(ui.item.name);
    			$("#recipientId").val(ui.item.id);
    			return false;
    		}
    	})
    	.data("autocomplete" )._renderItem = function(ul, item) {
    		return $("<li></li>")
    			.data("item.autocomplete", item)
    			.append("<a>" + item.name + "</a>")
    			.appendTo(ul);
    	};
    });
</script>