#{extends 'main.html' /}
#{if inboxView}
    #{set title:'Inbox' /}
#{/if}
#{else}
    #{set title:'Outbox' /}
#{/else}
#{set submenuView: 'messages' /}

#{list pms, as:'m'}
<div class="list-item">
    <div class="info">
        <span class="item">
            Sent Time: <span class="value">${m.getFormattedSentTime()}</span>
        </span>
        <span class="item">
            Read Time: <span class="value">${m.getFormattedReadTime()}</span>
        </span>
        <span class="item">
            #{if inboxView}
                Sender: <span class="value"><a href="@{Profile.profile}/${m.sender.id}">${m.sender}</a></span>
            #{/if}
            #{else}
                Recipient: <span class="value"><a href="@{Profile.profile}/${m.recipient.id}">${m.recipient}</a></span>
            #{/else}
        </span>
        #{if m.service != null}
            <span class="item">
                Related Service: <span class="value"><a href="@{Services.detail}/${m.service.id}">${m.service.title}</a></span>
            </span>
        #{/if}
        <div class="clearfix"></div>
        <span class="item">
            Subject: <span class="value">${m.subject}</span>
        </span>
        <input type="button" class="right toggle-btn" value="Show" />
        #{if inboxView && m.readTime == null}
            <input type="button" class="right mark-read-btn" value="Mark As Read" data-message-id="${m.id}" />
        #{/if}
        #{if inboxView}
            <input type="button" class="right reply-btn" value="Reply" data-message-id="${m.id}" />
        #{/if}
    </div>
    <div class="clearfix"></div>
    <div class="desc hidden">
        ${m.message.nl2br()}
    </div>
</div>
#{/list}
<script type="text/javascript" charset="utf-8">
    $("document").ready(function() {
        $("input.mark-read-btn").bind("click", function() {
            document.location = "@{UserMessages.markAsRead}?messageId=" + $(this).data("message-id");
        });
        $("input.reply-btn").bind("click", function() {
            document.location = "@{UserMessages.reply}?messageId=" + $(this).data("message-id");
        });
        $("input.toggle-btn").bind("click", function() {
            var descDiv = $(this).parent().parent().find("div.desc");
            descDiv.toggle();
            if (descDiv.is(":visible")) {
                $(this).val("Hide");
            } else {
                $(this).val("Show");
            }
        })
    });
</script>