#{extends 'main.html' /}

#{if loggedIn}
#{set title:'Let\'s Begin!' /}

<div class="dashboard">

<div class="dashboard-buttons">
    <button id="create-new-provide-btn">
        <img src="@{'/public/images/icons/services-provide.ico'}" class="icons left icons-big" />
        <span>Provide A New Service!<span>
    </button>
    <button id="create-new-request-btn">
        <img src="@{'/public/images/icons/services-request.ico'}" class="icons left icons-big" /> 
        <span>Request A New Service!</span>
    </button>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $("#create-new-request-btn").bind("click", function() {
            document.location = '@{Services.index}?type=1';
        });
        $("#create-new-provide-btn").bind("click", function() {
            document.location = '@{Services.index}?type=0';
        });
    })
</script>
<p>
    Now that you are logged in, everything will go smoother! Now you can use all the features of this site.
    Go on, look around. Check <a href="@{Services.list}">services</a> or explore the possibilities by searching! 
</p>

<div class="clearfix">
    
</div>

<div id="activities" class="block right">
<h3 class="dash"><a href="@{Activities.index}">Activities</a></h3>
#{list activities, as:'act'}
    <div class="list-item">
        <div class="info">
            <div class="activity-date right">${act.getFormattedCreationDate()}</div>
            *{ Show messages according to the type... }*
            #{if act.type == models.ActivityType.ADDED_SERVICE}
                <a href="@{Profile.profile}/${act.performer.id}">${act.performer}</a> created a new service <a href="@{Services.detail}/${act.affectedService.id}">${act.affectedService.title}</a>.
            #{/if}
            #{if act.type == models.ActivityType.UPDATED_SERVICE}
                Something was wrong but no more! <a href="@{Profile.profile}/${act.performer.id}">${act.performer}</a> has updated the service <a href="@{Services.detail}/${act.affectedService.id}">${act.affectedService.title}</a>.
            #{/if}
            #{if act.type == models.ActivityType.APPLIED_SERVICE}
                <a href="@{Profile.profile}/${act.performer.id}">${act.performer}</a> applied to a service <a href="@{Services.detail}/${act.affectedService.id}">${act.affectedService.title}</a>.
            #{/if}
            #{if act.type == models.ActivityType.CANCEL_APPLICATION_SERVICE}
                <a href="@{Profile.profile}/${act.performer.id}">${act.performer}</a> resigned from a service <a href="@{Services.detail}/${act.affectedService.id}">${act.affectedService.title}</a>. Why??!!
            #{/if}
            #{if act.type == models.ActivityType.REJECTED_SERVICE_OFFER}
                <a href="@{Profile.profile}/${act.performer.id}">${act.performer}</a> seems to be busy. He rejected the offer for <a href="@{Services.detail}/${act.affectedService.id}">${act.affectedService.title}</a>.
            #{/if}
            #{if act.type == models.ActivityType.STARTED_SERVICE}
                <a href="@{Profile.profile}/${act.performer.id}">${act.performer}</a> started to finish a service <a href="@{Services.detail}/${act.affectedService.id}">${act.affectedService.title}</a>. He already finished the half!
            #{/if}
            #{if act.type == models.ActivityType.FINISHED_SERVICE}
                <a href="@{Profile.profile}/${act.performer.id}">${act.performer}</a> has done it and finished the service <a href="@{Services.detail}/${act.affectedService.id}">${act.affectedService.title}</a>. Gratz!
            #{/if}
            #{if act.type == models.ActivityType.COMMENTED_ON}
                <a href="@{Profile.profile}/${act.performer.id}">${act.performer}</a> added a comment on
                #{if act.affectedService != null}
                    <a href="@{Services.detail}/${act.affectedService.id}">${act.affectedService.title}</a>.
                #{/if}
                #{else}
                    <a href="@{Tasks.proposals}">${act.affectedTask.name}</a>.
                #{/else}
                What does he mean?!
            #{/if}
            #{if act.type == models.ActivityType.PROPOSED_TASK}
                Hmmm, <a href="@{Profile.profile}/${act.performer.id}">${act.performer}</a> says that <a href="@{Tasks.proposals}">${act.affectedTask.name}</a> should be a new task, What do you say?
            #{/if}
            #{if act.type == models.ActivityType.VOTED_ON_TASK}
                <a href="@{Profile.profile}/${act.performer.id}">${act.performer}</a> voted on <a href="@{Tasks.proposals}">${act.affectedTask.name}</a>. I say you should do the same!
            #{/if}
            #{if act.type == models.ActivityType.TASK_APPROVED}
                Yes! <a href="@{Profile.profile}/${act.performer.id}">${act.performer}</a> has done it! With his last vote, <a href="@{Tasks.proposals}">${act.affectedTask.name}</a> as a task is approved. Go on try it!
            #{/if}
            <!--
            <div>
                #{if act.affectedUsers.size() > 0}
                    ${act.affectedUsers}
                #{/if}
            </div>
            -->
        </div>
    </div>
#{/list}
</div>

<div id="proposedTasks" class="block">
<h3 class="dash"><a href="@{Tasks.proposals}">Proposed Tasks</a></h3>
#{list tasks, as:'t'}
    <div class="list-item">
        <div class="info" style="display:inline;">
            <span class="item">
                Title: <span class="value">${t.name}</span>
            </span>
            <span class="item">
                Point: <span class="value">${t.point}</span>
            </span>
            <span class="item">
                Suggested By: <span class="value">${t.suggestedBy}</span>
            </span>
             <span class="item">
                Vote Count: <span class="value">${t.downvoteCount+t.upvoteCount}</span>
            </span>
        </div>
        <div class="clearfix"></div>
    </div>
#{/list}
</div>
<div id="matchedServices" class="block wide">
<h3 class="dash">Service Matches</h3>
#{list services, as:'s'}
   <div class="list-item" id="list-item">
        <a href="@{Services.detail}/${s.id}">${s.title}</a>
        <div class="info">
            <span class="item">
                Task: <span class="value">${s.task}</span>
            </span>
            <span class="item">
                Type: <span class="value">${s.type}</span>
            </span>
            <span class="item">
                Owner: <span class="value"><a style="color:black;" href="@{Profile.profile}/${s.boss.id}">${s.boss}</a></span>
            </span>
            <span class="item">
                Location: <span class="value">${s.location}</span>
            </span>
            #{if s?.startDate}
                <span class="item date">
                    Date Interval:
                    <span class="value">
                        ${s.getFormattedStartDate()}
                        #{if s?.endDate}
                        - ${s.getFormattedEndDate()}
                        #{/if}
                    </span>
                </span>
            #{/if}
            #{if s.stags!=null}
	            <span class="item">
	                Tags: <span class="value">
	                #{list s.stags, as:'tag'}
	               		${tag.text}${tag_isLast ? '' : ','}
                	#{/list}
                	</span>
	            </span>
            #{/if}
            <span class="item">
            	Status:
           		<span class="value status">
           			#{if s.status==models.ServiceStatus.PUBLISHED}
		        		PUBLISHED
		       		#{/if}
			 		#{elseif s.status==models.ServiceStatus.WAITING_EMPLOYEE_APPROVAL}
			 			WAITING EMPLOYEE APPROVAL
			 		#{/elseif}
			 		#{elseif s.status==models.ServiceStatus.IN_PROGRESS}
		                IN PROGRESS
			 		#{/elseif}
			 		#{elseif s.status==models.ServiceStatus.WAITING_EMPLOYEE_FINISH}
		                WAITING EMPLOYEE FINISH
			 		#{/elseif}
			 		#{elseif s.status==models.ServiceStatus.FINISHED}
		                FINISHED
			 		#{/elseif}
           		</span>
            </span>
        </div>
            <div class="clearfix"></div>
    </div>
#{/list}
#{else}
    <div class="list-item"><div class="not-found">No Match is found yet! It will be loaded when someone posts services!</div></div>
#{/else}
</div>
</div>



#{/if}
#{else}
#{set title:'Welcome to SES' /}
<p>
    Congratulations, you are on the first step to join our thriving community that will help you on your needs! You might also help others, if you have what it takes...
</p>
<h2><a name="what">What</a></h2>
<p>
    Some description on what this service provides or does...
</p>
<h2><a name="join">Join Us</a></h2>
<p>
    It's easy to get join us. Really! Click on the <em>Facebok Login</em> button on the top left corner, and you are ready to go!
</p>

#{/else}