<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <div id="header">
            <div style="float: right; margin-right: 10px;">
                <input type="text" name="q" value="" id="q"><input type="submit" name="search" value="Search Services" id="search">
            </div>
            #{if loggedIn}
                Welcome ${user} |
                <a href="@{Services.index}">Add Service</a> |
                <a href="@{Services.list}">Services</a> |
                <a href="">Notifications (1)</a> |
                <a href="/">Profile</a> |
                #{secure.check 'admin'}
                    <a href="/admin">Admin</a> |
                #{/secure.check}
                <a href="@{Secure.logout}">Logout</a>
            #{/if}
            #{else}
                <a href="/">Welcome</a> | <a href="@{Secure.login}">Login</a> | <a href="#">Join Us</a>
            #{/else}
        </div>
        <div class="wrapper">
        	<div id="pageContent">
        		<div class="wikistyle">
        			<h1>#{get 'title' /}</h1>
                    #{doLayout /}
                </div>
            </div>
        </div>
    </body>
</html>
