<!DOCTYPE html>
<html>
    <head>
        <title>SES: #{get 'title' /}</title>
        <meta charset="UTF-8">
       	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
       	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/paging.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/smoothness/jquery-ui-1.8.16.custom.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jqcloud.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/dusky.css'}">
        <script src="@{'/public/javascripts/ajax-suggestion.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery-1.6.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.16.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jqcloud-0.2.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/commons.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
        
        <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=KEY" type="text/javascript"></script>
		<script type="text/javascript">
		  function initialize() {
		    if (GBrowserIsCompatible()) {
		      if(document.getElementById("map_canvas")!=null){
		     	 var map = new GMap2(document.getElementById("map_canvas"));
		     	 #{if service!=null && service.locationLat!=0 && service.locationLng!=0}
		    	  	map.setCenter(new GLatLng(${service.locationLat}, ${service.locationLng}), 10);
		    	  	var marker = new GMarker(new GLatLng(${service.locationLat}, ${service.locationLng}), {draggable: true});
		    	  #{/if}
		    	  #{else}
			      	map.setCenter(new GLatLng(41, 28), 4);
			      	var marker = new GMarker(new GLatLng(41, 32), {draggable: true});
			      #{/else}
			      map.setUIToDefault();        
			      map.addOverlay(marker);
			      
			      GEvent.addListener(marker, "drag", function(){
			    	  l=marker.getPoint();
			    	  $("input#locationLat").val(l.lat());
			    	  $("input#locationLng").val(l.lng());
			      });
		       }
		    }      
		  }
		</script>

    </head>
    <body onload="initialize()" onunload="GUnload()">
        <div id="fb-root"></div>
        <script type="text/javascript">
            window.fbAsyncInit = function() {
                /**
                 * Heroku Facebook App Id: 156593804437237
                 * Localhost Facebook App Id: 225538354166262
                 * BOUN Tomcat FB App Id: 269688619748482
                 */
                FB.init({appId: '225538354166262', status: true, cookie: true, xfbml: true});
            };
        </script>
        <script src="http://connect.facebook.net/en_US/all.js" type="text/javascript"></script>
        #{if loggedIn}
        <div id="topNav">
            <div class="quickNav">
                <div class="profile-pic">
                    <div class="default">
                        <a href="@{Profile.profile}">
                            #{if userObj.fbId}
                                <img src="http://graph.facebook.com/${userObj.fbId}/picture" />
                            #{/if}
                        </a>
                    </div>
                </div>
                <ul>
                    <li>
                        ${greetings}, <a href="@{Profile.profile}">${userObj.name}</a>!
                    </li>
                    <li>
                        <a href="@{Services.index}?type=0">Provide A New Service!</a>
                    </li>
                    <li>
                        <a href="@{Services.index}?type=1">Request A New Service!</a>
                    </li>
                    <li>
                        <a href="@{Tasks.suggest}?type=1">Propose New Service Type!</a>
                    </li>
                </ul>
                <div class="right">
                    #{secure.check 'admin'}
                        <a href="/admin">Admin</a> |
                    #{/secure.check}
                    <a href="@{Secure.logout}">Logout</a>
                </div>
            </div>
        #{/if}
        </div>
        
        <div id="headWrap">
            <div id="headpanel">
                <div id="logo"><h1>SES</h1></div>
                <div id="quots">Enjoy Sharing</div>
                 *{
                     <div id="search-bar">
                         #{form @Services.search()}
         					<input type="hidden" name="searchDone" value="2"/>
         		            #{field 'title'}
         						<input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="" />
         					#{/field}
                         	<input type="submit" name="search" value="Search Services" id="search">
                         #{/form}
                     </div>
                     
                    }*
                <div id="menu">
                    #{if loggedIn}
                    <ul>
                        <li><a href="@{Application.index}">Dashboard</a></li>
                        <li><div class="gap"></div></li>
                        <li><a href="@{Services.list}">Services</a></li>
                        <li><div class="gap"></div></li>
                        <li><a href="@{UserMessages.index}">Messages</a></li>
                        <li><div class="gap"></div></li>
                        <li><a href="@{Tasks.proposals}">Service Types</a></li>
                        <li><div class="gap"></div></li>
                        <li><a href="@{Activities.index}">Activities</a></li>
                        <li><div class="gap"></div></li>
                    </ul>
                    #{/if}
                    #{else}
                        <div class="fb-login-btn"></div>
                    #{/else}
                </div>
            </div>
        </div>
        <div id="contentWrap">
            <div id="contentPanel">
                #{if title != ''}
                    <h2>#{get 'title' /}</h2>                    
                #{/if}
                #{if message != null}
                    <div class="flash-message">
                        ${message}
                    </div>
                #{/if}
                #{if submenuView != null}
                    <div id="leftPanel" class="menu">
                        <div class="toplinks">
                            #{include 'submenu/' + submenuView + '.html' /}
                        </div>
                    </div>
                #{/if}
                #{doLayout /}
            </div>
        </div>
        <div id="footWrap">
            <div id="footPanel">
                <div id="footNav">
                    <ul>
                        <li><a href="@{Application.index}">Home</a></li>
                        <li><div class="blank">|</div></li>
                        <li><a href="@{StaticPages.about}">About</a></li>
                        <li><div class="blank">|</div></li>
                        <li><a href="@{StaticPages.faq}">FAQ</a></li>
                        <li><div class="blank">|</div></li>
                        <li><a href="@{StaticPages.help}">Help</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                $("span.radio-button span").bind("click", function() {
                    $(this).parent().find("input[type=radio]").click();
                });
                $("div.fb-login-btn").bind("click", function() {
                    FB.login(function(response) {
                        if (response.status == "connected") {
                            $.post(
                                "/fbLogin", {
                                    token: response.authResponse.accessToken
                                },
                                function(data) {
                                    document.location.href = "@{Application.index}";
                                }
                            );
                        } else {
                            console.log('User cancelled login or did not fully authorize.');
                        }
                    }, {scope: 'email'});
                });
            });
        </script>

    </body>
</html>
