<!DOCTYPE html>
 
<html>
    <head>
        <title>SES: #{get 'title' /}</title>
        <meta charset="UTF-8">
       	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
       	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/paging.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/smoothness/jquery-ui-1.8.16.custom.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jqcloud.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/ajax-suggestion.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery-1.6.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.16.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jqcloud-0.2.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/commons.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <div id="fb-root"></div>
        <script type="text/javascript">
            window.fbAsyncInit = function() {
                /**
                 * Heroku Facebook App Id: 156593804437237
                 * Localhost Facebook App Id: 225538354166262
                 * BOUN Tomcat FB App Id: 269688619748482
                 */
                FB.init({appId: '225538354166262', status: true, cookie: true, xfbml: true});
            };
        </script>
        <script src="http://connect.facebook.net/en_US/all.js" type="text/javascript"></script>
        <div id="header">
            <div id="search-bar">
                #{form @Services.search()}
					<input type="hidden" name="searchDone" value="2"/>
		            #{field 'title'}
						<input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" value="" />
					#{/field}
                	<input type="submit" name="search" value="Search Services" id="search">
                #{/form}
            </div>
            <div id="menu">
            #{if loggedIn}
                #{if userObj.fbId}
                    <a href="@{Profile.profile}"><img src="http://graph.facebook.com/${userObj.fbId}/picture" class="profile-pic" /></a>
                #{/if}
                Olá, <a href="@{Profile.profile}">${userObj.name}</a>! |
                <a href="@{Application.index}">SES-DasBoard</a> |
                #{list menuItems, as:'m'}
                    #{set additionalMenuMessage:'' /}
                    #{if submenuView == m.toLowerCase()}
                        <span class="selected">
                    #{/if}
                    <a href="
                    *{Burasi biraz pis oldu...}*
                    #{if m.toLowerCase() == "tasks"}
                        @{Tasks.proposals}
                    #{/if}
                    #{elseif m.toLowerCase() == "messages"}
                        @{UserMessages.index}
                        #{if unreadMsgCount > 0}
                            #{set additionalMenuMessage: '(' + unreadMsgCount + ')' /}
                        #{/if}
                    #{/elseif}
                    #{elseif m.toLowerCase() == "activities"}
                        @{Activities.index}
                    #{/elseif}
                    #{else}
                        @{Services.list}
                    #{/else}
                    ">${m}</a><sup>${additionalMenuMessage}</sup></span> |
                    #{if submenuView == m.toLowerCase()}
                        </span>
                    #{/if}
                #{/list}
                #{secure.check 'admin'}
                    <a href="/admin">Admin</a> |
                #{/secure.check}
                <a href="@{Secure.logout}">Logout</a>
            #{/if}
            #{else}
                <div class="fb-login-btn"></div>
            #{/else}
            </div>
            <div id="submenu">
                #{if submenuView != null}
                    #{include 'submenu/' + submenuView + '.html' /}
                #{/if}
            </div>
        </div>
        <div class="wrapper">
            <div id="pageContent">
                <div class="wikistyle">
                    <h1>#{get 'title' /}</h1>
                    #{if message != null}
                        <div class="flash-message">
                            ${message}
                        </div>
                    #{/if}
                    #{doLayout /}
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                $("span.radio-button span").bind("click", function() {
                    $(this).parent().find("input[type=radio]").click();
                });
                $("div.fb-login-btn").bind("click", function() {
                    FB.login(function(response) {
                        if (response.status == "connected") {
                            $.post(
                                "/fbLogin", {
                                    token: response.session.access_token
                                },
                                function(data) {
                                    document.location.href = "@{Application.index}";
                                }
                            );
                        } else {
                            console.log('User cancelled login or did not fully authorize.');
                        }
                    }, {perms: 'email'});
                });
            });
        </script>
    </body>
</html>
