#{extends 'main.html' /}
#{set title:'User Profile' /}


<div>

    #{if userObj.fbId}
        <img src="http://graph.facebook.com/${userObj.fbId}/picture?type=large" class="right" />
    #{/if}
	<a href="@{Services.list}/${User.id}/1">Active Service Requests</a>
	 | 
	<a href="@{Services.list}/${User.id}/2">Active Service Offers</a>
	 |
	<a href="@{Services.list}/${User.id}/3">Planned Service Req/Offers</a>
	 |
	<a href="@{Services.list}/${User.id}/4">Done Service Req/Offers</a>
	
	<p>
		<label>Name:</label> 
		${User.name}
	</p>
	<p>
		<label>Email:</label> 
		${User.email}
	</p>
	<p>
		<label>Provider Point:</label> 
		${User.providerPoint}
	</p>
	<p>
		<label>Requestor Point:</label> 
		${User.requesterPoint}
	</p>
	<p>
		<label>Social Point:</label>
		${User.getAbsoluteSocialPoint()}
	</p>
	
	<a href="@{Services.list}/${User.id}">Bookmark</a>
		
	<a href="@{Services.list}/${User.id}">Remove Bookmark</a>
	
	<h2>Comments</h2>
#{list comments, as:'c'}
	<div class="list-item">
	<a href="@{Profile.profile}/${c.commenter.id}">${c.commenter.name}</a><em>  wrote on ${c.commentDateWithTime}</em>
		<div class="info">
			${c.comment}
		</div>
	</div>
#{/list}
	
</div>			        		

