#{extends 'main.html' /}
#{set title:'User Profile' /}


<div>
    #{if userObj.fbId}
        <img src="http://graph.facebook.com/${userObj.fbId}/picture?type=large" class="right" />
    #{/if}
    <h2>About</h2>
	<div class="info block">
		<span class="item">Name: <span class="value">${User.name}</span></span>
        <span class="item">Email: <span class="value">${User.email}</span></span>
		<span class="item">Provider Point: <span class="value">${User.providerPoint}</span></span>
		<span class="item">Requestor Point: <span class="value">${User.requesterPoint}</span></span>
		<span class="item">Social Point: <span class="value">${User.getAbsoluteSocialPoint()}</span></span>
	</div>
	<h2>Actions</h2>
	<a href="@{Services.list}/${User.id}/1">Active Service Requests</a> | 
	<a href="@{Services.list}/${User.id}/2">Active Service Offers</a> |
	<a href="@{Services.list}/${User.id}/3">Planned Service Req/Offers</a> |
	<a href="@{Services.list}/${User.id}/4">Done Service Req/Offers</a> |
	<a href="@{Services.list}/${User.id}">Bookmark</a> |
	<a href="@{Services.list}/${User.id}">Remove Bookmark</a>
	
	<h2>Comments</h2>
#{list comments, as:'c'}
	<div class="list-item">
	<a href="@{Profile.profile}/${c.commenter.id}">${c.commenter.name}</a><em>  wrote on ${c.commentDateWithTime}</em>
		<div class="info">
			${c.comment}
		</div>
	</div>
#{/list}
	
</div>			        		

